#contenedor {
    background-color: red;
    padding: 5px;
    margin: 0px;
    border-radius: 30px;
    
}
#parrafo {
    color:rgb(0, 102, 255);
    font-size: 50px;
    text-align: center;
        }