#contenedor {
    background-color: red;
    padding: 5px;
    margin: 0px;
    border-radius: 30px;
         
}
#cabecera {
    text-align: center;
    font-size: 60px;
}

#parrafo {
    color:rgb(0, 102, 255);
    font-size: 50px;
    text-align: center;
        }

#subtitulo {
    text-align: center;
    }

#brazo {
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}